.dashboard-all {
    display: flex;
    background-color: #EEF0F4;
    flex-direction: column;
}

.dashboard-top {
    width: 100vw;
    display: flex;
    background-color: #3C95D2;
    min-height: 47px;
    line-height: 47px;
    height: 47px;
    justify-content: center;
}

.dashboard-top-middle {
    min-width: 918px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    line-height: 47px;
}

.dashboard-top-middle-left {
    float: left;
    display: flex;
    justify-content: space-around;
    left: 0;
}

.dashboard-top-middle-right {
    float: right;
}

.dashboard-benmologo {
    width: 100px;
    cursor: pointer;
}

.dashboard-home * {
    float: left;
    padding: 0px 50px;
    font: 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #1B567F;
    color: #FFF;
    line-height: 47px;
    cursor: pointer;
    background: transparent;
}















.dashboard-bottom {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.dashboard-bottom-middle {
    width: 918px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;  
}

.dashboard-bottom-left {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* width: 632px; */
    /* text-align: left; */
    /* width: 637px; */
    /* height: 2265px; */
}

/* Initiate Transactions */
.dashboard-pay-box {
    border: 1px solid #bbb;
    width: 632px;
    margin-bottom: 20px;
    background: #fff;
    margin-left: 0px;
    height: 150px;
    padding: 10px 20px;
}
    /* Text and line */
    .dashboard-pay-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }

    /* Lower part */
    .dashboard-pay-box-inner-low {
        display: flex;
        justify-content: space-between;
    }
        /* Select a friend */
        .dashboard-pay-dropdown {
            padding-top: 30px;
            padding-left: 10px;
            color: #3C95D2;
            outline: none;
            cursor: pointer;
        }

        select {
            outline: none;
            background: transparent;
            width: 170px;
            font-size: 20px;
            color: #3C95D2;
            line-height: 1;
            border: 0;
            border-radius: 0;
            height: 22px;
            -webkit-appearance: none;
            cursor: pointer;
        }



        /* $ How much? */
        .amount-box {
            display: flex;
            justify-content: flex-start;
            padding-top: 15px;
            padding-right: 20px;
        }

        .amount-box .currency {
            font-size: 20px;
            padding: 0 10px 0 20px;
            color: #999;
            line-height: 2.5;
            background: white;
        }

        .dashboard-pay-amount {
            border: transparent;
            outline: none;
            font-size: 30px;
            width: 200px;
        }

            /* to remove arrows next to the dropdown */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            } /* Chrome, Safari, Edge, Opera */

            
            input[type=number] {
                -moz-appearance: textfield;
            } /* Firefox */



        /* Pay button */
        .dashboard-pay-button {
            padding-top: 20px;
            padding-right: 40px;
            color: #3C95D2;
            font-size: 40px;
            outline: none;
            cursor: pointer;
        }

        .dashboard-pay-button:hover {
            opacity: 0.8;
        }

.dashboard-friend-request-box {
    width: 632px;
    border: 1px solid #bbb;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #fff;
}
    .dashboard-friend-request-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }

.dashboard-transaction-history-box {
    width: 632px;
    height: 100%;
    border: 1px solid #bbb;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
}

    .dashboard-transaction-history-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }


.dashboard-bottom-right {
    float: right;
    width: 265px;
    height: 484px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
}

.dashboard-profile-box {
    margin-bottom: 20px;
    border: 1px solid #bbb;
    padding: 10px;
    background: #fff;
}

.dashboard-friends-box {
    border: 1px solid #bbb;
    padding: 10px;  
    background: #fff;
}

    .dashboard-friends-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;  
    }