.dashboard-all {
    display: flex;
    background-color: #EEF0F4;
    flex-direction: column;
}

.dashboard-top {
    width: 100vw;
    display: flex;
    background-color: #3C95D2;
    min-height: 47px;
    line-height: 47px;
    height: 47px;
    justify-content: center;
}

.dashboard-top-middle {
    min-width: 918px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    line-height: 47px;
}

.dashboard-top-middle-left {
    float: left;
    display: flex;
    justify-content: space-around;
    left: 0;
}

.dashboard-top-middle-right {
    float: right;
}

.dashboard-benmologo {
    width: 100px;
    cursor: pointer;
}

.dashboard-home * {
    float: left;
    padding: 0px 50px;
    font: 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #1B567F;
    color: #FFF;
    line-height: 47px;
    cursor: pointer;
    background: transparent;
}















.dashboard-bottom {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.dashboard-bottom-middle {
    width: 918px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;  
}

.dashboard-bottom-left {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* width: 632px; */
    /* text-align: left; */
    /* width: 637px; */
    /* height: 2265px; */
}

.dashboard-pay-box {
    border: 1px solid #bbb;
    width: 632px;
    margin-bottom: 20px;
    background: #fff;
    margin-left: 0px;
    height: 112px;
    padding: 10px 20px;
}

    .dashboard-pay-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }

.dashboard-friend-request-box {
    width: 632px;
    height: 106px;
    border: 1px solid #bbb;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #fff;
}
    .dashboard-friend-request-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }

.dashboard-transaction-history-box {
    width: 632px;
    height: 100%;
    border: 1px solid #bbb;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
}

    .dashboard-transaction-history-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;
    }


.dashboard-bottom-right {
    float: right;
    width: 265px;
    height: 484px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
}

.dashboard-profile-box {
    margin-bottom: 20px;
    border: 1px solid #bbb;
    padding: 10px;
    background: #fff;
}

.dashboard-friends-box {
    border: 1px solid #bbb;
    padding: 10px;  
    background: #fff;
}

    .dashboard-friends-box-inner {
        border-bottom: 1px solid #e9e9e9;
        font-size: 15px;
        padding: 10px;
        color: #666;
        font-weight: bold;  
    }