.current-user {
    color: #262626;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 400px;
    margin-top: 20px;
}

.sign-in-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.sign-in-button:hover {
    color: #dce0e6;
}

.log-out-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.log-out-button:hover {
    color: #dce0e6;
}