.greeting-bar {
    border-bottom: 1px solid #dce0e6;
    padding-bottom: 10px;
}

.benmologo {
    margin-left: 20px;
    margin-top: 20px;
}

.current-user {
    color: #262626;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 400px;
    margin-top: 20px;
}

.sign-in-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 40px;
}

.sign-in-button:hover {
    color: #dce0e6;
}

.log-out-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.log-out-button:hover {
    color: #dce0e6;
}


.main {
    display: flex;
    justify-content: center;
}

.main-message {
    margin-top: 100px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 22px;
    text-align: center;
    font-weight: 300;    
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-signup1 {
    text-align: center;
    color: #707273;
    font-size: 20px;
}

.main-signup2 {
    text-decoration: none;
    color: #3d95ce;
}

.main-signup2:hover {
    color: #bcc2cc;
}

