.greeting {
    border-bottom: 1px solid #dce0e6;
    padding-bottom: 10px;
}

.benmologo {
    margin-left: 170px;
    margin-top: 20px;
    cursor: pointer;
}

.current-user {
    color: #262626;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 400px;
    margin-top: 20px;
}

.sign-in-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 170px;
    margin-top: 40px;
}

.sign-in-button:hover {
    color: #dce0e6;
}

.log-out-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.log-out-button:hover {
    color: #dce0e6;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

.greeting-middle {
    z-index: -1;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.greeting-middle * {
    z-index: -1;
}

.greeting-middle-message {
    margin-top: 100px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 22px;
    text-align: center;
    font-weight: 300;    
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.greeting-middle-signup1 {
    text-align: center;
    color: #707273;
    font-size: 20px;
}

.greeting-middle-signup2 {
    text-decoration: none;
    color: #3d95ce;
}

.greeting-middle-signup2:hover {
    color: #bcc2cc;
}
















footer {
    background-color: white;
    margin-top: -10px;
    display: flex;
    padding-top: 150px;
}



.footer-inner {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

h4 {
    color: black;
    line-height: 24px;
    font-size: 16px;
}

/* .footer-inner > hr {
    color: #666;
    display: block;
    width: 100vw; 
    border-style: inset;
    border-width: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
} */

.header-line {
    border-top: 1px solid #e9e9e9;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-line {
    border-top: 1px solid #e9e9e9;
    color: #666;
    padding-bottom: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    color: #7f7f7f;
}

.footer-section {
    list-style: none;
    font-size: 16px;
}

li {
    line-height: 24px;
}

.footer-bottom {
    padding-bottom: 40px;
    color: #7f7f7f;
    font-size: 16px;
}

.footer-middle {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
}