.auth-signin {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.auth-header-text {
    margin: 0 auto 28px;
    max-width: 360px;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.auth-form {
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin: 0 auto 40px;
    padding: 28px;
    position: absolute;
    max-width: 600px;
    max-height: 800px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin: 0 auto 40px;
    padding: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;    
}

.inputs {
    display: flex;
    flex-direction: column;
}

.login-label .login-span {
    color: #7f7f7f;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 4px;
    text-transform: uppercase;
}

.login-input {
    -webkit-box-shadow: none;
    background: none;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    color: #262626;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-width: 0;
    padding: 12px 8px 12px 4px;
    width: 100%;
}

.auth-form label {
    padding: 20px;
}

.submit-button {
    background-color: #bcc2cc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.submit-button:hover {
    background-color: #3d95ce;
}

.demo-button {
    background-color: #bcc2cc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}   

.demo-button:hover {
    background-color: #3d95ce;
}
