.main {
    display: flex;
    justify-content: center;
}

.main-message {
    margin-top: 100px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 22px;
    text-align: center;
    font-weight: 300;    
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-signup1 {
    text-align: center;
    color: #707273;
    font-size: 20px;
}

.main-signup2 {
    text-decoration: none;
    color: #3d95ce;
}

.main-signup2:hover {
    color: #bcc2cc;
}

