.main {
    box-sizing: border-box;
    font-size: 2em;
    line-height: 50px;
    margin-bottom: 22px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -.015em;
    color: #262626;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}


#b1 {
    text-decoration: none;
    color: #3d95ce;
}

#b1:hover {
    color: #bcc2cc;
}

.android {
    display: inline;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 316px;

}

.android img {
    max-width: 100%;
}

/* img {
    vertical-align: middle;
    margin: 0;
    border: 0;
    box-sizing: border-box;
} */

.iphone img {
    max-width: 100%;
    left: 0;
    margin-top: 15px;
    margin-left: 148px;
    width: 324px;
    /* z-index: 800px; */
    position: absolute;
    vertical-align: middle;
}


/* .iphone img {
    max-width: 100%;
    left: 1;
    width: 324px;
    z-index: 800px;
    position: absolute;
    vertical-align: middle;
} */
