.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-main {
    position: fixed;
    background: #3C95D2;
    opacity: 0.6;
    width: 250px;
    height: 300px;
    
    /* center */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.modal-top {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}


.modal-recipient {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.modal-button-text {
    color: white;
    cursor: pointer;
    font-weight: bold;

    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 1s ease-in-out;

    outline: none;
}

.modal-button-text:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    outline: none;
}






.modal-amount-box {
    display: flex;
    justify-content: flex-start;
    /* padding-right: 20px; */
}

.modal-amount-box .currency {
    font-size: 20px;
    padding: 0 10px 0 20px;
    color: #999;
    line-height: 2.5;
    background: #3C95D2;
    opacity: 0.6;
}

.modal-currency {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-pay-amount {
    border: transparent;
    outline: none;
    font-size: 30px;
    width: 200px;
    background: #3C95D2;
    opacity: 0.6;
}

.modal-pay-button {
    padding-bottom: 40px;
    color: white;
    background: #3C95D2;
    opacity: 0.6;
    font-size: 40px;
    outline: none;
    cursor: pointer;
}

.modal-pay-button:hover {
    opacity: 0.8;
    color: rgb(109, 25, 25);
}

.modal-button {
    background: transparent;
    font-size: 40px;
}


