/* .profile {
    width: 265px;
    height: 134px;
    right: 0;
    text-align: left;
    font: 13px Helvetica, Arial, sans-serif;
    position: absolute;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #a6a6a6;
    background: #fff;
    margin: 20 0 0 20;
    padding: 0;
    border: 1 0 0 1;
    outline: 0;
    display: block;
} */

.profile-box {
    text-align: left;
    margin-left: 15%;
}

.profile-fullname {
    color: #3d95ce;
    font-size: 20px;
    float: left;
    width: 130px;
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
}

.balance {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    width: 75px;
}

.funding {
    font-size: 13px;
    color: #3d95ce;
    float: left;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
    /* cursor: pointer; */
    text-align: left;
}