
.login-form {
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin: 0 auto 40px;
    padding: 28px;
    position: absolute;
    max-width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;    
}



.a {
    color: #7f7f7f;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 4px;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

.a1 {
    color: #7f7f7f;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    margin-bottom: 36px;
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    background-color: #fff;
}

.email {
    background: none;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    color: #262626;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-width: 0;
    padding: 12px 8px 12px 4px;
    width: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
}

.a2 {
    display: block;
    padding: 4px 0 0 4px;
}


.b {
    color: #7f7f7f;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 4px;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

.b1 {
    color: #7f7f7f;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    margin-bottom: 36px;
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    background-color: #fff;
}

.password {
    background: none;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    color: #262626;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-width: 0;
    padding: 12px 8px 12px 4px;
    width: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
}

.b2 {
    display: block;
    padding: 4px 0 0 4px;
}

.sign-in-button {
    color: #3d95ce;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.sign-in-button:hover {
    color: #dce0e6;
}